<!-- Begin page content in <body>-->
  <div class="container">
    <div class="page-header">
      <h1>This is <b>PRODUCT REGISTRATION</b> page.</h1>
    </div>

    <form id="product-reg" enctype="multipart/form-data" class="product-reg" action="" method="post">
      <fieldset>
        <legend><h1>Product Registeration</h1></legend>

        <div class="form-group">
          <label for="titleInput">Title</label>
          <input type="text" class="form-control" id="titleInput" name="title" placeholder="Title" value="" >
        </div>

        <br><br>

        <div class="form-group">
          <label for="contentInput">Content</label>
          <textarea class="form-control" id="contentInput" name="content" rows="10" cols="80" placeholder="Please write a description of the product." ></textarea>
        </div>

        <br><br>

        <div class="form-group">
          <label for="priceInput">Price</label>
          <input type="number" class="form-control" id="priceInput" name="price" min="0" value="" step="1" >
        </div>

        <br><br><br>

        <div class="form-group">
            <label for="inputFile">File input</label>
            <input type="file" name="image" multiple>
            <p class="help-block">이미지를 선택해주세요. <strong style="color:red;">* 중복선택 가능 *</strong></p>
        </div>

        <br><br><br>
        <button id="btn-submit" class="btn btn-lg btn-primary btn-block" type="submit"> 등록 </button>

    </form>
  </div> <!-- container end -->

  <script>
    // $('#inputFile').on('change', function(e) {
    //   alert(1);
    // });
    
    $('#product-reg').on('submit', function(e) {
      e.preventDefault();
      
      var formData = new FormData($('#product-reg')[0]);
      console.log(formData.get('image'));
      // formData.append("image", $("#inputFile")[0].files[0]);
      // formData.append("title", $('#titleInput').val());
      // formData.append("content", $('#contentInput').val());
      // formData.append("price", $('#priceInput').val());




      $.ajax({
        url: "/api/product_reg",
        enctype: 'multipart/form-data',
        type: "post",
        dataType: "json",
        processData: false,
        // contentType: 'application/json',
        contentType: false,
        data: formData,
        beforeSend: function(xhr) {
          console.log(formData);
          $('#btn-submit').text("블록에 기록중입니다.. 잠시만 기다려주세요. (1-3분 이상)");
        },
        success: function (data) {
          $('#btn-submit').text("등록");
          alert(data.message);
          location.href="/product_details/" + data._id;
        },
        fail: function () {
          alert("Error");
        }
      });
    });
  </script>