<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<style>
  #product-registration {
    font-weight: bold;
    color: #253066;
  }

  #search_box {
    width: 300px;
  }

  .product-slider { padding: 70px; width: 50%; display: inline-block;}

  .product-slider #carousel { border: none; margin: 0; margin-bottom: 10px;}

  .product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

  .product-slider #thumbcarousel .item { text-align: center; }

  .product-slider #thumbcarousel .item .thumb { border: 2px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

  .product-slider #thumbcarousel .item .thumb:hover { border-color: black; }

  .product-slider .item img { width: 100%; height: auto; object-fit: contain; }

  .carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

  .carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

  .carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }

  .carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

  .carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

  .carousel-inner {object-fit: contain;}

  .product-info {
    width: 50%;
    float: right;
    display: inline;

    margin-top: 50px;
    padding: 0;
  }

  #seller-info {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #eee;
  }

  .seller-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    object-fit: scale-down;
    float: left;
    margin-right: 20px;
    padding: 0px;
  }

  .seller-nickname {
    padding-top: 6px;
  }

  .info-body {
    padding: 0 0 30px 10px;
    margin: 0px 0 20px;
    border-bottom: 2px solid #eee;
  }
  .info-bottom{
    padding: 10px;
  }

  .btn.btn-lg.btn-default {
    width: 200px;
    height: 50px;
    margin-right: 50px;
  }

  .btn.btn-lg.btn-primary {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #253066;
  }

  .modal-title {
    display: inline;
  }
  .modal-body{
    font-size: 18px;
  }
  .close {
    width: 50px;
    height: 50px;
  }
  .modal-footer{
    font-size: 15px;
  }
  .btn.btn-secondary{
    margin-right: 10px;
  }
  h4, h2{
    display: inline;
  }

</style>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


<!-- Begin page content in <body>-->
  <div class="container">
    <div class="page-header">
      <h1>This is <b>PRODUCT DETAILS</b> page.</h1>
      This area will includes <strong>seller information, title, price, cart button, purchase button </strong>
    </div>

    <!-- product thumbnail -->
    <div class="product-slider">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active"> <img src="img/product_sample_1.jpg"> </div>
          <div class="item"> <img src="img/product_sample_2.jpg"> </div>
          <div class="item"> <img src="img/product_sample_3.jpg"> </div>
          <div class="item"> <img src="img/product_sample_4.jpg"> </div>
          <!-- <div class="item"> <img src="http://placehold.it/800x800?text=Product+01"> </div> -->
        </div>
      </div>
      <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
              <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="img/product_sample_1.jpg"></div>
              <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="img/product_sample_2.jpg"></div>
              <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="img/product_sample_3.jpg"></div>
              <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="img/product_sample_4.jpg"></div>
            </div>
          </div>
        </div>
      </div> <!-- clearfix end -->
    </div> <!-- product-slider end-->

    <div class="product-info">
      <div class="page-header" id="seller-info">
        <img class="seller-icon" src="img/seller-icon.jpg" alt="seller-icon">
        <p>
          <h3 class="seller-nickname"><strong>Mr. Krabs</strong></h3>
          <h4>I love money!</h4>
        </p>
      </div>
      <div class="info-body">
        <h1> <strong>Krabby Patty</strong></h1>
        <h4>OMG. This is my favorite!</h4>
        <br> <br>
        <p>
          <h4>Price : &nbsp;&nbsp; </h4>
          <h2>
            <span class="price-num">10.00</span>
            <span>$</span>
          </h2>
        </p>
        <br>
        <!-- select -->
        <select id="select-option" class="selectpicker" multiple data-selected-text-format="count" data-width="75%">
          <option value="1">[Option] Add Petty (+2$)</option>
          <option value="2">[Option] Add Bacon (+1$)</option>
          <option value="3">[Option] Add Egg (+1$)</option>
          <option value="4">[Option] Add Source (+0.5$)</option>
          <option value="5">[Option] Add Lettuce (+0.5$)</option>
        </select>
      </div> <!-- info-body end -->

      <div class="info-bottom">
        <!-- Button trigger modal -->
        <!-- Cart button -->
        <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#cartModal">
          <span>Cart</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="cartModalLabel"><strong>Item added to your cart</strong></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  You have added items to your cart.<br>
                  Do you want to check your cart?<br><br>
                  If not,<br>
                  Please click 'Close' to continue shopping.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="cart">
                  <button type="button" class="btn btn-primary">Check my CART</button>
                </a>
              </div>
            </div>
          </div>
        </div> <!-- modal end -->

        <button type="button" class="btn btn-lg btn-primary"><span>Purchase</span></button>
      </div>
    </div> <!-- product-info end   -->

    <div class="page-header">
      <h2> Product Details </h2>
      This area will includes <strong>product informations and details.</strong> (ex. brand, Product status, Additional Information, description, Precautions etc.)
    </div>
    
    <div class="page-header">
      <h2>Customer inquiry</h2>
    </div>

  </div> <!--container end -->
  