<!-- Begin page content in <body>-->
  <div class="container">
    <div class="page-header">
      <h1>This is <b>PRODUCT REGISTRATION</b> page.</h1>
    </div>

    <form id="product-reg" class="product-reg" action="" method="">
      <fieldset>
        <legend><h1>Product Registeration</h1></legend>

        <div class="form-group">
          <label for="titleInput">Title</label>
          <input type="text" class="form-control" id="titleInput" name="title" placeholder="Title" value="" >
        </div>

        <br><br>

        <div class="form-group">
          <label for="contentInput">Content</label>
          <textarea class="form-control" id="contentInput" name="content" rows="10" cols="80" placeholder="Please write a description of the product." ></textarea>
        </div>

        <br><br>

        <div class="form-group">
          <label for="priceInput">Price</label>
          <input type="number" class="form-control" id="priceInput" name="price" min="0" value="" step="1" >
        </div>

        <br><br><br>

        <div class="form-group">
            <label for="inputFile">File input</label>
            <input type="file" id="inputFile">
            <p class="help-block">Please upload detail porduct image.</p>
        </div>

        <br><br><br>
        <button id="btn-submit" class="btn btn-lg btn-primary btn-block" type="submit"> 등록 </button>

    </form>
  </div> <!-- container end -->

  <script>
    $('#inputFile').on('change', function(e) {
      alert(1);
    });

    $('#product-reg').on('submit', function(e) {
      e.preventDefault();

      $.ajax({
        url: "/api/product_reg",
        type: "post",
        dataType: "json",
        data: {
          title: $('#titleInput').val(),
          content: $('#contentInput').val(),
          price: $('#priceInput').val()
        },
        beforeSend: function(xhr) {
          $('#btn-submit').text("블록에 업데이트중입니다.. 잠시만 기다려주세요");
        },
        success: function (data) {
          $('#btn-submit').text("등록");
          alert(data.message);
          location.href="/";
        },
        fail: function () {
          alert("Error");
        }
      });
    });
  </script>